In [2]:
import numpy as np
import pandas as pd

In [4]:
data ={
    "Category" : ['A',"B",'A',"B",'A',"B",'A',"B"],
    "Store"  : ['S1','S1','S2','S2','S1','S2','S2','S1'],
    "Sales": [100,200,150,250,120,100,200,300],
    "Quantity" : [10,15,12,18,8,20,15,25],
    "Date" : pd.date_range('2023-01-01',periods=8)

}
df = pd.DataFrame(data)

In [5]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
4        A    S1    120         8 2023-01-05
5        B    S2    100        20 2023-01-06
6        A    S2    200        15 2023-01-07
7        B    S1    300        25 2023-01-08

group by category and calculate sum of sales

In [7]:
cat = df.groupby("Category")
cat
for i,v in cat :
    print(i)
    print(v)

A
  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
2        A    S2    150        12 2023-01-03
4        A    S1    120         8 2023-01-05
6        A    S2    200        15 2023-01-07
B
  Category Store  Sales  Quantity       Date
1        B    S1    200        15 2023-01-02
3        B    S2    250        18 2023-01-04
5        B    S2    100        20 2023-01-06
7        B    S1    300        25 2023-01-08

In [8]:
cat = df.groupby("Category")['Sales'].sum()
cat

Category
A    570
B    850
Name: Sales, dtype: int64

Groupby stores and calculate sum of sales

In [9]:
store = df.groupby("Store")['Sales'].sum()
store

Store
S1    720
S2    700
Name: Sales, dtype: int64

Groupby muntiple columns

In [12]:
#category aur store dono ko group kr do
muntiple = df.groupby(["Category", "Store"])['Sales'].sum()
muntiple

Category  Store
A         S1       220
          S2       350
B         S1       500
          S2       350
Name: Sales, dtype: int64

**AGGREGATION**

In [15]:
df['Sales'].mean()

np.float64(177.5)

In [16]:
df['Sales'].median()

175.0

In [17]:
df['Sales'].mode()

0    100
1    200
Name: Sales, dtype: int64

In [18]:
df['Sales'].min()

100

In [19]:
df['Sales'].max()

300

In [20]:
df['Sales'].count()

np.int64(8)

In [21]:
df['Sales'].std()

73.04597378168276

In [25]:
df['Sales'].agg(['mean','min','max','median','sum','count','std'])

mean       177.500000
min        100.000000
max        300.000000
median     175.000000
sum       1420.000000
count        8.000000
std         73.045974
Name: Sales, dtype: float64